@-ms-viewport {    /* pro Edge/IE na Windows Phone */
    width: device-width;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

:root {
    --barva_hlavni: #fcbb23;
    --barva_pomocna: #fdd16d;
    --barva_druha: #232a4e; /*424452*/
    --barva_pozadí: #FFF;
    --barva_nadpis: #424452;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    color: #373d3f;
    margin: 0px;
    padding: 0px;
    background-color: white;
    /*padding-top:75px;*/
}

a[name] {
    display: block;
    position: relative;
    top: -75px;
}

/*///////////////////////////////////////////////////header////////////////////////////////////*/

#header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 20;
    height: 75px;
    top: 0px;
    /*  font-family: Helvetica_light;*/
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#header strong {
    font-weight: 700;
}

#top-header {
    margin: auto;
    width: 1060px;
    height: 39px; /*35*/
    /*  border: solid black 2px; */
}

#top-header h1 {
    font-weight: 300;
    font-size: 1.7em;
    margin-left: 100px;
    margin-top: 3px; /*7*/
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #373d3f;
}

#menuButton {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#textmenul,
#textmenup {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 33px;
    margin: 0px;
    text-transform: uppercase;

}

#textmenul {
    color: #000;
    background-color: #fcbb23;
    margin-right: 51%;
    /*50% by bylo hezčí :)*/
    font-weight: 500;
    padding-left: 0px;

}

#textmenul li {
    display: block;
    float: right;
    padding: 0px 10px;
    height: 100%;
    vertical-align: middle;
    line-height: 33px;
    -webkit-transition: 0.4s;
    transition: 0.4s;

}

/* #textmenul li:last-child{
    padding-left: 10%
}*/

#textmenup li:last-child {
    padding-right: 1.5%;
}

#textmenul li a {
    color: #000;
    text-decoration: none;
}

.textmenul_akt {
    background: #fdd16d;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.textmenup_akt {
    color: #FFF;
    background: #6a6c7e;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#textmenup li a {
    color: #ffffff;
    text-decoration: none;
}

#textmenup li:hover {
    color: #FFF;
    background: #6a6c7e;

}

#textmenul li:hover {
    color: #FFF;
    background: #fdd16d;
}

#textmenup {
    color: #FFF;
    background-color: #232a4e;
    margin-left: 49%; /*50% by bylo hezčí :)*/
    padding-left: 0px;
}

#textmenup li {
    display: block;
    float: left;
    padding: 0px 8px;
    vertical-align: middle;
    line-height: 33px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#logomenu {
    position: absolute;
    margin-top: 5px;
    width: 70px;
    z-index: 20;
    margin-left: 15px;
}

#odkazy {
    width: 1060px;
    position: relative;
    top: -33px;
    margin: auto;
}

.odkaz {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    float: right;
}

#gb {
    width: 50px;
    float: right;
    margin-right: 12px;
}

/*///////////////////////////////////////////////////obrazek-pozadi////////////////////////////////////*/

#obrazek-pozadi {
    width: 100%;
    background-image: url(obr/budova.jpg);
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    background-size: cover;
    background-position: center;
    margin-top: 75px;
    height: 500px;
    position: fixed;
    z-index: -1;
}

/*////////////////////////////////novinky////////////////////////////////*/

#novinky_index {
    position: absolute;
    width: 100%;
    background-color: #DDD;
    margin-top: 575px;
    height: 390px;
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#sipkal {
    position: absolute;
    margin-right: 492px;
    right: 50%;
    top: 143px;
    cursor: pointer;
}

#sipkap {
    position: absolute;
    margin-left: 492px;
    left: 50%;
    top: 143px;
    cursor: pointer;
}

.novinka_index {
    background: url(obr/pozadi-novinka.jpg);
    background-size: cover;
    background-position: right;
    /*cursor: pointer;*/
    position: absolute;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 280px;
    height: 280px;
    background-color: #FFF;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#novinky_index ul {
    position: relative;
    list-style: none;
    width: 1060px;
    margin: auto;
    padding: 0px;
}

.n0 {
    left: -262px;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
}

.n1 {
    left: 64px;
}

.n2 {
    left: 390px;
}

.n3 {
    left: 716px;
}

.n4 {
    left: 1042px;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
}

.novinka_index img {
    display: block;
    max-width: 280px;
    max-height: 186px;
    margin: auto;
    position: absolute;
    top: 93px;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.novinka_index span {
    z-index: 10;
    width: 100%;
    height: 94px;
    background: #FFF;
    position: absolute;
    bottom: 0px;
    margin: 0px;
}

.novinka_index h2 {
    text-align: center;
    margin: 5px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 1em;
}
.novinka_index h2 a {
    color: inherit;
}
.novinka_index p {
    margin: 0px;
    padding: 7px;
    padding-top: 0px;
    font-size: 0.9em;
}
#novinky_index_vic a {
    color: #FFF;
    font-size: 1.25em;
    position: absolute;
    right: 64px;
    top: 330px;
    background-color: #232a4e;
    font-weight: 600;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#novinky_index_vic {
    position: relative;
    width: 1060px;
    margin: auto;
}

/*///////////////////////////////////////////////page///////////////////////////////////////////*/

#outer_page {
    background-color: #FFF;
    width: 100%;
    position: relative;
    top: 965px;
    /*-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2); */
}

#page {
    margin: auto;
    z-index: 10;
    position: relative;
    margin: auto;
    font-size: 1.3125em;
    width: 932px;
    padding-top: 12px;
}

#tradice {
    text-align: center;
    position: relative;
    left: -220px;
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
    color: #424452;
   /* padding-left: 15px; */
}

h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2em;
    color: #424452;
}

#typy_studia_p {
    width: 370px;
    margin-left: 64px;
    text-align: justify;
}

#typy_studia li {
    width: 265px;
    margin-left: 64px;
    text-align: justify;
}

#busta {
    position: absolute;
    left: 55%;
    top: 15px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    line-height: 1.1em;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
}

/*/////////////////////////nabidky///////////////////////////////*/

#conabizime {
    margin-top: 40px;
}

#nabidky {
    height: 700px;
}

.nabidka {
    -webkit-perspective: 2000px;
    perspective: 2000px;
    width: 233px;
    height: 233px;
    float: left;
    position: relative;
}

.nabidka p {
    position: absolute;
    top: 100px;
}

.nabidka .karta {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: 1s;
    transition: 1s;
    z-index: auto;
    position: relative;
    background: #fcbb23;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.nabidka .karta:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -10;
    pointer-events: none;
    /*  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2); */
}

.nabidka:hover .karta {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    /*   -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2); */
    z-index: 20;
}

.karta,
.predni,
.zadni {
    width: 233px;
    height: 233px;
}

.nabidka.prvni .karta,
.nabidka.ctvrta .karta {
    background: #fdd16d;
    z-index: 20;
    position: relative;
}

.predni,
.zadni {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.predni {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.predni img {
    position: absolute;
    width: 150px;
    display: block;
    /* left: 35px;
    top: 30px;
    margin-bottom: 5px;*/
    margin: auto;
    left: 41.5px;
    padding-top: 40px;
}

.zadni p {
    position: absolute;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    top: 20px;
    color: black;
    font-weight: 600;
    text-align: center;

}

.karta-text-kratky {
    display: none;
}

.karta-text-dlouhy {
    display: block;
}

.zadni a {
    position: absolute;
    margin: auto;
    width: 100%;
    bottom: 20px;
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
}

.zadni {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

}

/*///////////////////////////////////////////////dalsi///////////////////////////////////////////*/

#prohlidky {
    height: 300px;
}

#prohlidka,
#historie {
    width: 350px;
    float: left;
    margin: 43px;
    border: solid #fcbb23 15px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#spolupracujeme h3 {
    text-align: center;
    margin-bottom: 10px;
}

#spolupracujeme {
    height: 430px;
}

.spoluprace_kraj {
    width: 300px;
    margin: 81px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.spoluprace_obrazek {
    width: 160px;
    margin: 34px;
    margin-bottom: 25px;
    margin-top: 0px;
}

#outer_footer {
    background-color: #232a4e;
    width: 100%;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    clear: both;
}

#footer {
    position: relative;
    height: 320px;
    margin: auto;
    width: 932px;
    color: #FFF;
    font-size: 1.3125em;
}

.footer_index {
    position: relative;
    top: 985px;
}

#footer h4 {
    position: absolute;
    top: 45px;
    left: 315px;
    margin: 0px;
    font-size: 1.5em;
    color: white;
    padding-left: 0px;
}

#footer p {
    position: absolute;
    width: 300px;
    left: 150px;
    top: 90px;
    margin: 0px;
    text-align: right;
}

#footer_logo {
    top: 50px;
    height: 200px;
    position: absolute;
}

#mapa {
    position: absolute;
    height: 280px;
    width: 454px;
    top: 10px;
    right: 0px;
}

#carka {
    background: #FFF;
    position: absolute;
    left: 464px;
    right: 464px;
    top: 20px;
    bottom: 30px;
}
#footer_autor {
    position: absolute;
    bottom: 3px;
    text-align: center;
    width: 100%;
    font-size: 0.75em;
    color: #8f97ba;
}
#footer_autor a {
    color: #8f97ba;
    font-weight: bold;
}
/*index*/

/*/////////////////////////////////////////////////////////////////////////////*/

/*+pro ostatni*/

#stred {
    width: 1060px;
    margin: auto;
    min-height: calc(100vh - 340px);
}

.celek {
    background: #e3e3e3;

}

.centrovano {
    text-align: center;
    margin: auto;

}

.dobloku {
    text-align: left;
    display: block;
    margin: 3px;
}
/* h4,h5 {

    text-align: center;
    background: #ff7a00;
    border-top: 1px solid #BBBBBB ;
    width: 100%;
    margin: auto;
    color: #333333;
    font-size: 12px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 10px;
} */
h4 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
    color: #424452;
    padding-left: 15px;
    border-bottom: 2px solid #fcbb23;
}

h5 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1em;
    color: #424452;
}

.podmenu {
    position: static;
    display: inline;
    list-style: inside;
    list-style-image: url(obr/odr.png);
    float: left;
    width: 100%;
}
.podmenu input{
    margin-left: 15%;
    width: 70%;
}

a.tlacitkopodmenu {
    display: block;
    text-align: left;
    /*background: #F1F3F5;*/
    background: #ffffff;
    color: #333333;
    text-decoration: none;
    padding-left: 15px;
    margin-left: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 5px;
    border-top: solid #DDD 1px;

}

a.tlacitkopodmenu:first-of-type {
    padding-top: 10px;
}

a.tlacitkopodmenu:hover {
    color: #000;
    background: #fdd16d;

}

a.tlacitkopodmenuakt {
    display: block;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    background: #fcbb23;
    padding-left: 15px;
    margin-left: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 5px;
}

a.tlacitkopodmenuakt:first-of-type {
    padding-top: 10px;
}
a.tridappmenuakt ~ a.tlacitkopodmenuakt {
    padding-left: 30px;
    background: #fdd16d;
}
a.tridapppmenu {
    display: block;
    text-align: left;
    background: #fdd16d;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: #333333;
}

a.tridapppmenu:hover {
    color: #232a4e;
    background: #fcbb23;
}

a.tridappmenuakt {
    display: block;
    font-family: sans-serif;
    background: #fcbb23;
    color: #232a4e;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
}

#obsahova-cast {
    /*border:  thin solid red	;	*/
    padding-top: 65px;
    text-align: left;
    font-family: sans-serif;
    min-height: 350px;
    overflow: auto;
    margin-bottom: 40px;
}

#obsahova-cast h2 {
    background: #FFF;
    margin-bottom: 5px;
}
#obsahova-cast-roztazeny {
    width: 600px;
}

#levy-sloupec-siroky {
    background: #FFF;
    float: left;
    /*background: Red;*/
    width: 70%;
    /*border:  thin solid red	;*/
    display: block;
    text-align: justify;
    /*margin-right: 2%;*/
    margin-bottom: 15px;
    /*border: 1px dotted Highlight; */
    padding-top: 0px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}


#pravy-sloupec-uzky {
    background: #FFF;
    float: left;
    height: auto;
    width: 22%;
    margin-right: 1%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#podmenuButton {
    display: none;
}

/* novinky */

#levy-sloupec-siroky-novinky {
    float: left;
    /*background: Red;*/
    width: 74%;
    /*border:  thin solid red	;*/
    display: block;
    text-align: justify;
    /*margin-right: 2%;*/
    margin-bottom: 15px;
    /*border: 1px dotted Highlight; */
    padding-top: 0px;

    padding-bottom: 10px;
}

#cisla-stran-novinky {
    line-height: 1.5;
    color: var(--barva-druha);
    font-size: 1.5em;
    font-weight: bold;
    /*  background-color: #fcbb23; */
    padding: 1px;
}

#cisla-stran-novinky a {
    font-size: 0.7em;
    text-decoration: none;
    /* background-color: #fcbb23;*/
    color: #AAA;
    font-weight: bold;
    padding: 5px;
}

#cisla-stran-novinky a:hover {
    /*  background-color: #fcbb23;*/
    color: var(--barva-druha);
    font-weight: bold;
}

div.obrnovinka {
    position: absolute;
    width: 50%;
    border: none;
    height: 100%;
    background: url(obr/pozadi-novinka.jpg);
    background-size: cover;
    top: 0px;
    left: 0px;
}

div.obrnovinka img{
    position: relative;
    top: 50%;
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%);
    width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 0px;
}
.obrvlevo {
    float: left;
    margin: 10px;
    border: none;
}
.obrvpravo {
    float: right;
    margin: 10px;
    border: none;
}
.obrvpravobezokraje {
    border: none;
    position: absolute;
    top: 2px;
    right: 2px;
}
.obrvlevobezokraje {

    float: left;
    border: none;
}
.obrvpravopekar {
    float: right;

    margin: 10px;
    margin-top: 0px;
    border: none;
}
.novinkazvyraznena {
    text-align: left;
    vertical-align: top;
    margin: auto;
}

.novinka,
.polozka {
    position: relative;
    text-align: left;
    vertical-align: top;
    margin: auto;
    background: #ffffff;
    padding-bottom: 5x;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.textv-n-c {
    margin-left: 50%;
    text-align: justify;
    vertical-align: top;
    padding-left: 2%;
    padding-right: 10px;
    font: 100%;
}

.nadpisv-n-c,
.nadpisvpolozce {
    padding-top: 10px;
    font-size: 1.25em;
    /* background: #fcbb23; */
    color: #232a4e;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 7px;
    text-align: center;
    border-bottom: 2px solid #fcbb23;
    padding-left: 20px;
    padding-right: 20px;
}
 

.nadpis,
.prezdivka {
    border-bottom: 1px solid #DDD;
}

.den-autor {
    border-top: 1px solid #fcbb23;
    margin-top: 5px;
    padding-top: 4px;
    background: #FFF;
    width: auto;
    font-size: 0.9em;
    text-align: left;
    padding-bottom: 20px;

}

.tiskzpravy,
.tiskzpravyvlevo {
    float: right;
    border: none;
    background: url(obr/tisk.gif) no-repeat left;
    padding-right: 10px;
    padding-top: 10px;
    width: auto;
}

.pdefko {
    float: left;
    vertical-align: bottom;
    margin: auto;
    border: none;
    background: url(obr/pdefko.gif) no-repeat left;
    padding-left: 40px;
    padding-right: 10px;
    width: auto;
    height: 39px;
}



.patickav-n-c {
    padding-left: 10px;
    padding-right: 10px;

    width: 800px;
    background: #F1F3F5;
    border-color: #DDD;
    margin: auto;
}

.rad_nahled {
    position: relative;
}
.rad_nahled .obrvlevobezokraje {
    position: absolute;
    top: -20px;
}

/*/////////*/

/*tabulky*/

a {
    color: #0036AF;
    text-decoration: none;
}

table {
    font-family: sans-serif;
    font-size: 100%;
    margin: auto;
}

.tabklasik tr:nth-of-type(even) {
    background-color: #ffffff;
}

.tabklasik tr:nth-of-type(odd) {
    background-color: #fff1d1;
}

.tabklasik td {
    padding: 4px;
}

.tabklasik a {
    text-decoration: none;
}

.tabklasik th {
    background-color: #fcbb23;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.tabklasik .hlavicka {
    background-color: #fcbb23;
}

.sudaradka {
    background-color: #FFF;

}

.licharadka {
    background-color: #DDD;
}

col.prvni-sloupec {
    width: 20%;
}
/*////volitelné předněty///*/
.tabeditace {
    border-collapse: collapse;
    border: 2px solid #333;
}
.tabeditace .tlacitko {
    padding: 10px;
    width: 200px;
    border: none;
    margin: 15px 3px;
}
.tabeditace input[type=submit] {
    background-color: green;
}
.tabeditace input[type=reset] {
    background-color: #ba0000;
}
.tabeditace .textv-n-c {
    margin-left: 0%;
    text-align: justify;
    vertical-align: top;
    padding-left: 2%;
    padding-right: 10px;
    font: 100%;
}
.tabeditace .nadpisv-n-c {
    padding-top: 10px;
    font-size: 1.25em;
    /* background: #fcbb23; */
    color: #333;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 5px;
    margin-bottom: 7px;
    text-align: center;
    border: none;
}

.predmety {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}
.predmet {
    width: 31%;
    margin: 5px;
    font-weight: normal;
    border: 2px solid #333;
    text-align: center;
    padding-bottom: 5px;
    background: #fcbb23;
}
.nazev {
    min-height: 70px;
    display: block;
    font-weight: bold;
}
.zkratka {
    font-weight: bold;
    margin: 0px 7px;
}
.nazev a.tlacitkopodmenu {
    text-align: center;
    min-height: 3em
}
/*////////*/

/*dalsi*/

.prihlaska {
    background: ThreedHighlight;
    border-style: double;
    border-color: Blue;
}

.udaje {
    background-color: #AC3232;
    color: White;
    margin: auto;
}

.chyba {
    color: Red;
    font-weight: bold;
    text-align: left;

}

.tlacitko {
    background-color: #AC3232;
    ;
    color: White;
    /*letter-spacing: 5pt;*/
    font-weight: normal;
}

.fotogal {
    background: #F1F3F5;
    text-align: center;
    margin: auto;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;

}

.fotogaladmin {
    border: 1px solid #CCCCCC;
    text-align: center;
}
.fotogalerie ul {
    list-style: none;
}
.fotogalerie li{
    width: 70%;
    margin: auto;
    text-align: left;
    padding: 5px;
    border-top: solid #DDD 1px;
}
.fotogalerie iframe{
    width: 90%;
    margin: 2%;
    border: 4px solid #fcbb23;
}
.skrolovatko {
    overflow: auto;
    width: 100%;
    height: 400px;
}

.skrolovatkorady {
    width: 100%;
}

.pdefkorady {
    float: right;
    vertical-align: top;
    margin: auto;
    border: none;
    background: transparent;
    background-image: url(obr/pdefko.gif);
    background-repeat: no-repeat;
    background-position: left top;
    margin-top: -20px;
    padding-left: 40px;
    padding-right: 10px;
    width: auto;
    height: 39px;
    display: inline;
}

.zavrirady {
    float: right;
    vertical-align: top;
    margin: auto;
    border: none;
    background: transparent;
    background-image: url(obr/zavri.gif);
    background-repeat: no-repeat;
    background-position: left top;
    margin-top: -15px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 18px;
    display: inline;
}


.skrolovatkomale {
    overflow: auto;
    width: 100%;
    height: 140px;
}

.nadpisv_n_ref {
    text-align: center;
    vertical-align: top;
    background: #058706;
    color: Yellow;
    width: auto;
}

.prodanevstup {
    color: #AC3232;
    font-weight: bold;
    text-align: left;
}

.volnevstup {
    color: #2E8B57;
    font-weight: bold;
    text-align: right;
}

.robauto {
    visibility: hidden;
}

.zvyraznitano {
    background-color: Lime;
    font-weight: bolder;
}

.zvyraznitne {
    background-color: Yellow;
    font-weight: bolder;
}

.tlacodkaz {
    width: auto;
    height: auto;
    color: #AC3232;
    background-color: transparent;
    text-align: left;
    font-family: sans-serif;
    font: bolder;
    padding-left: 15px;
    background-image: url(obr/arrow.png);
    background-repeat: no-repeat;
    background-position: top left;
}

.tlacodkazblok {
    width: auto;
    height: auto;
    /*color:#696969;*/
    color: #AC3232;
    background-color: transparent;
    text-align: left;
    font-family: sans-serif;
    font: bolder;
    padding-left: 15px;
    background-image: url(obr/arrow.png);
    background-repeat: no-repeat;
    background-position: top left;
    text-decoration: line-through;

}

.tlacitkoblok {
    background-color: #AC3232;
    ;
    color: White;
    /*letter-spacing: 5pt;*/
    font-weight: normal;
    text-decoration: line-through;
}
/*/////////////////////////////////////////*/

a.tlacitkopodmenurss {
    display: block;
    text-align: center;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
a.tlacitkopodmenufacebook {
    display: block;
    text-align: left;
    /*background: #ff7a00;*/
    background: #F1F3F5;
    color: #333333;
    font-size: 12px;
    text-decoration: none;
    border-left: 0px solid #F1F3F5;
    border-right: 0px solid #F1F3F5;
    border-top: 0px solid #F1F3F5;
    border-bottom: 0px solid #F1F3F5;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 25px;
    background-image: url(obr/facebook.gif);
    background-repeat: no-repeat;
    background-position: left bottom;

}
a.tlacitkopodmenufacebook:hover {
    color: #AC3232;
    background: #FFFFFF;
    padding-left: 25px;
    background-image: url(obr/facebook.gif);
    background-repeat: no-repeat;
    background-position: left bottom;
}
a.tlacitkopodmenuarchiv {
    display: block;
    border-top: 2px solid #fcbb23;
    text-align: center;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.tlacitkopodmenuvse {
    width: auto;
    height: auto;
    color: #AC3232;
    background-color: transparent;
    text-align: center;
    font-family: sans-serif;
    font: bolder;
    padding-right: 14px;
    /*padding-top: 5px;*/
    background-image: url(obr/arrow.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    float: right;
}
.absolventi img, .nasinej img {
    margin: auto;
    width: 100%;
}
.absolventi .obrvpravobezokraje, .nasinej .obrvpravobezokraje {
    width: auto;
}
.absolventi td, .nasinej td {
    vertical-align: bottom;
}

.profil_studenta, .profil_absolventa {
    background: white;
    padding: 7px;
    min-height: 300px;
}
.profil_studenta .obrvlevo, .profil_absolventa .obrvlevo{
    width: 20%;
    margin-right: 10px;
}
.profil_studenta h5, .profil_absolventa h5 {
    margin-top: 5px;
}

.nejstudent, .absolvent {
    display: block;
    width: 22%;
    margin: 10px;
    background: #fcbb23;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.nejstudent p, .absolvent p {
    padding: 3px;
    color: white;
    margin: 5px 0px 10px;
}
.vypis_absol, .vypis_nasinej {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    
}

.prihlaska{
    background: ThreedHighlight;
    border-style: double;
    border-color: Blue;
}
.udaje{
    background-color: #AC3232;
    color: White;
    margin: auto;
}

.chyba{
    color: Red;
    font-weight: bold;
    text-align: center;
}
.tlacitko {
    background-color: #AC3232;;
    color: White;
    /*letter-spacing: 5pt;*/
    font-weight: normal;
}
.fotogal {
    background: #F1F3F5;
    text-align: center;
    margin: auto;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;

}

.fotogaladmin {
    border: 1px solid  #CCCCCC;
    text-align: center;
}

.pdefkorady {
    float: right;
    vertical-align: top;
    margin: auto;
    border: none;
    background: transparent ;
    background-image: url(obr/pdefko.gif);
    background-repeat:  no-repeat;
    background-position:  left top;
    margin-top: -20px;
    padding-left: 40px;
    padding-right: 10px;
    width: auto;
    height: 39px;
    display: inline;
}
.zavrirady {
    float: right;
    vertical-align: top;
    margin: auto;
    border: none;
    background: transparent;
    background-image:  url(obr/zavri.gif);
    background-repeat:  no-repeat;
    background-position:  left top;
    margin-top: -15px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 18px;
    display: inline;
}


.skrolovatkomale {
    overflow: auto;
    width: 100%;
    height: 140px;
    border: 1px solid #DDD;
}
.nadpisv_n_ref {
    text-align: center;
    vertical-align: top;
    background: #058706;
    color: Yellow;
    width: auto;
}

.prodanevstup {
    color: #AC3232;
    font-weight: bold;
    text-align: left;
}
.volnevstup {
    color: #2E8B57;
    font-weight: bold;
    text-align: right;
}
.robauto {
    visibility: hidden;
}
.zvyraznitano {
    background-color: Lime;
    font-weight: bolder;
}
.zvyraznitne {
    background-color: Yellow;
    font-weight: bolder;
}
.tlacodkaz {
    width: auto;
    height: auto;
    color: #AC3232;
    background-color: transparent;
    text-align: left;
    font-family: sans-serif;
    font: bolder;
    padding-left: 15px;
    background-image: url(obr/arrow.png);
    background-repeat: no-repeat;
    background-position: top left ;
}
.tlacodkazblok{
    width: auto;
    height: auto;
    /*color:#696969;*/
    color: #AC3232;
    background-color: transparent;
    text-align: left;
    font-family: sans-serif;
    font: bolder;
    padding-left: 15px;
    background-image: url(obr/arrow.png);
    background-repeat: no-repeat;
    background-position: top left ;
    text-decoration: line-through;

}
.tlacitkoblok{
    background-color: #AC3232;;
    color: White;
    /*letter-spacing: 5pt;*/
    font-weight: normal;
    text-decoration: line-through;
}
.hledej-tlacitko{
    float: right;
}
.aktualnistrana {
    color: #333333;
}
#rozdeleny_obsah_oskole {
    float: right;
    /*background: Red;*/
    width: 35%;
    /*border:  thin solid red	;*/
    display: inline;
    text-align: justify;
    margin-right: 1%;
    padding: 1%;
    margin-bottom: 15px;
    /*border: 1px dotted Highlight; */
    padding-top: 0px;


}

#rozdeleny_obsah_novinky {
    float: left;
    /*background: Red;*/
    width: 35%;
    /*border:  thin solid red	;*/
    display: inline;
    text-align: justify;
    /*margin-right: 2%;*/
    padding: 1%;
    margin-bottom: 15px;
    /*border: 1px dotted Highlight; */
    padding-top: 0px;


}
#rozdeleny_obsah_levy {
    float: left;
    /*background: Red;*/
    width: 48%;
    /*border:  thin solid red	;*/
    display: inline;
    text-align: center;
    /*margin-right: 2%;*/
    padding: 1%;
    margin-bottom: 15px;
    /*border: 1px dotted Highlight; */
    padding-top: 0px;


}

#rozdeleny_obsah_pravy {
    float: right;
    /*background: Red;*/
    width: 48%;
    /*border:  thin solid red	;*/
    display: inline;
    text-align: center;
    /*margin-right: 2%;*/
    padding: 1%;
    margin-bottom: 15px;
    /*border: 1px dotted Highlight; */
    padding-top: 0px;


}
.upozorneni {
    background: White;
    width: auto;
    z-index: 5;
    top: -10px;position: relative;
}
#rozdeleny_elearning_levy {
    float: left;
    /*background: Red;*/
    width: 70%;
    /*border:  thin solid red	;*/
    display: block;
    padding-left: 1%;
    padding-right: 1%;

    /*border: 1px dotted Highlight; */
    padding-top: 0px;
    margin: auto;
    /*	background: Fuchsia;   */
}

#rozdeleny_elearning_pravy {
    float: right;
    /*background: Red;*/
    width: 25%;
    display: block;
    padding-left: 1%;
    padding-right: 1%;
    margin: auto;
    /*	background: Aqua;     */

}
.stin {
    background: #A3A3A3;

    float: left;
    background-image: url(obr/stin.jpg);
    background-position: right bottom ;
    background-repeat: no-repeat;
    overflow: visible;
}

.posunap {

    top: -5px;
    left: -5px;
    position: relative;


}


.jidelna {
    border: 3px solid Red;
    text-align: center;
    width: 100%;
}
.stul {
    background: #FFDEAC;
    height: auto;
    color: #AC3232;
    text-decoration: none;
    font-weight: bold;
    text-align: center; /*margin: 10px;*/
    font-size: 100%;
    font-weight: bold;
    width: 30%;
    border: 20px solid Gray;
}
.frame img{
    border: none;
}
.vyhledavat{
    margin-top: -10px;
    top: -1px;
    position: relative;
    margin-left: 10px;	
    border: none;
}

.obedy {
    line-height: 1.5;
}




/*///////*/

/*//////1100px-785px////////polovina fullhd/////*/

@media only screen and (max-width: 1100px) {
    #page {
        width: 768px;
        margin: auto;
        z-index: 10;
    }
    /*///////////////////////////////////////////////////header////////////////////////////////////*/
    #header {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
    #top-header {
        width: 768px;
    }
    #top-header h1 {
        font-size: 1.7em;
        margin-left: 100px;
    }
    #textmenul {
        margin-right: 56%; /*50% by bylo hezčí :)*/
    }
    #textmenup {
        margin-left: 44%; /*50% by bylo hezčí :)*/
    }
    #textmenul,
    #textmenup {
        letter-spacing: -0.5px;
    }
    #textmenul li {
        font-size: 0.85em;
        padding: 0px 5px;
    }
    #textmenup li {
        font-size: 0.85em;
        padding: 0px 5px;
    }
    #textmenup li:last-child {
        padding-right: 1.5%;
    }
    #logomenu {
        width: 45px;
        margin-left: 45px;
    }
    #odkazy {
        width: 736px;
        top: -30px;
    }
    .odkaz {
        width: 20px;
        margin-right: 10px;
    }
    #gb {
        width: 40px;
        margin-right: 12px;
    }
    /*//////////////////novinky///////////////////*/
    #sipkal {
        position: absolute;
        margin-right: 336px;
        right: 50%;
        top: 143px;
        cursor: pointer;
    }
    #sipkap {
        margin-left: 336px;
        left: 50%;
        top: 143px;
    }
    .novinka_index {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 280px;
        height: 280px;
        overflow-x: hidden;
    }
    #novinky_index ul {
        width: 768px;

    }
    .n0 {
        left: -262px;
    }
    .n1 {
        left: 74px;
    }
    .n2 {
        left: 414px;
    }
    .n3 {
        left: 716px;
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }
    .n4 {
        left: 716px;
    }

    .novinka_index img {
        display: block;
        max-width: 280px;
        max-height: 186px;
        margin: auto;
        position: absolute;
        top: 93px;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }
    .novinka_index h2 {
        text-align: center;
        margin: 3px;
        padding: 0px;
        font-size: 1em;
    }
    .novinka_index p {
        margin: 0px;
        padding-left: 3px;
    }
    #novinky_index_vic a {
        font-size: 1.25em;
        right: 74px;
        top: 330px;
        padding: 10px;
    }
    #novinky_index_vic {
        width: 768px;
    }
    /*///////////////nabidky///////////*/
    #nabidky {
        height: 500px;
    }
    .nabidka {
        width: 192px;
        height: 192px;
    }
    .karta,
    .predni,
    .zadni {
        width: 192px;
        height: 192px;
    }
    .predni img {
        width: 123px;
        left: 34px;
    }
    .zadni p {
        font-size: 0.9em;
        top: 15px;
    }
    .zadni a {
        font-size: 1em;
        bottom: 15px;
    }
    /*//////////////dalsi/////////////////*/
    #prohlidka,
    #historie {
        width: 320px;
        margin: 19px;
        border: solid #fcbb23 13px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
    .spoluprace_kraj {
        width: 300px;
        margin: 40px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .spoluprace_obrazek {
        width: 119px;
        margin: 34px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    #outer_footer {
        position: relative;
        width: 1060px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
    #outer_footer.footer_index {
        width: 100%;
    }
    #footer {
        width: 768px;
        font-size: 1.2em;
    }
    #footer h4 {
        left: 250px;
        font-size: 1.4em;
        padding-left: 0px;
    }
    #footer p {
        width: 300px;
        left: 65px;
    }
    #footer_logo {
        display: none;
    }
    #mapa {
        width: 357px;
        right: 12px;
    }
    #carka {
        left: 382px;
        right: 382px;
        top: 20px;
        bottom: 20px;
    }
}

/*//////mobil/////*/

@media only screen and (max-width: 785px) {
    #page {
        width: 100%;
        margin: auto;
        z-index: 10;
    }
    /*///////////////////////////////////////////////////header////////////////////////////////////*/
    #header {
        height: 40px;
        /*display: none;*/
    }
    #top-header {
        position: relative;
        z-index: 9;
        background: #fcbb23;
        padding-top: 1px;
        padding-bottom: 4px;
        margin-left: 40px;
        width: auto;
        height: 35px;
    }
    #top-header h1 {
        font-size: 1.2em;
        position: relative;
        z-index: 10;
        margin-left: 0px;
        vertical-align: middle;
        line-height: 40px;
        text-align: center;
        pointer-events: none;
        margin-top: 0px;
    }
    #menuButton {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        background: #fcbb23;
    }
    #menuButton line {
        stroke: #232a4e;
        -webkit-transition: 0.6s;
        transition: 0.6s;
    }
    #menuButton line#l1 {
        -webkit-transform-origin: 10px 10px;
        transform-origin: 10px 10px;
    }
    #menuButton line#l2 {
        -webkit-transform-origin: 20px 20px;
        transform-origin: 20px 20px;
    }
    #menuButton line#l3 {
        -webkit-transform-origin: 10px 30px;
        transform-origin: 10px 30px;
    }
    #menu {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 0px;
        -webkit-transition: 0.6s;
        transition: 0.6s;
        overflow: hidden;
        background: #232a4e;
        padding-top: 40px;
    }
    #menu::before {
        position: absolute;
        top: 0px;
        height: 40px;
        background: #FFFE00;
        left: 0px;
        right: 0px;
        content: "";
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        z-index: 5;
    }
    #menu.otevreno {
        height: 100%;
        /*background: #232a4e;*/
    }
    #menu.otevreno #menuButton line {
        stroke: #232a4e;
    }
    #menu.otevreno #menuButton line#l1 {
        -webkit-transform: rotate(45deg) scale(1.12, 1);
        transform: rotate(45deg) scale(1.12, 1);
    }
    #menu.otevreno #menuButton line#l2 {
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }
    #menu.otevreno #menuButton line#l3 {
        -webkit-transform: rotate(-45deg) scale(1.12, 1);
        transform: rotate(-45deg) scale(1.12, 1);
    }
    /*#menu.otevreno*/
    #textmenul {
        margin-right: 0px;
    }
    /*#menu.otevreno*/
    #textmenup {
        margin-left: 0px;
    }
    /*#menu.otevreno*/
    #textmenul,
    #textmenup {
        letter-spacing: initial;
        text-align: center;
    }
    #textmenul,
    #textmenup {
        position: relative;
        float: left;
        height: auto;
        width: 100%;
        font-weight: bold;
    }
    #textmenul {
        padding-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    #textmenul li,
    #textmenup li {
        padding: 3px 5px;
        width: 100%;
        font-size: 120%;
        height: 46px;
        line-height: 46px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #textmenul li a,
    #textmenup li a {
        position: relative;
    }
    #textmenul li a::after,
    #textmenup li a::after {
        position: absolute;
        content: "";
        height: 40px;
        width: 80vw;
        left: calc(50% - 40vw);
        top: -50%;
    }
    #logomenu {
        display: none;
    }
    /*#odkazy {
        margin-top: 360px;
        width: 50%;
    }*/
    #odkazy {
        clear: left;
        width: 200px;
        top: 10px;
    }
    .odkaz {
        width: 30px;
        height: 30px;
    }
    #vyhledavani path {
        fill: #FFF;
    }
    #gb {
        width: 60px;
    }
    /*///////////////////////////////////////////////////obrazek-pozadi////////////////////////////////////*/
    #obrazek-pozadi {
        width: 100%;
        background-image: url(obr/budova.jpg);
        background-repeat: no-repeat;
        /*background-size: 100%;*/
        background-size: cover;
        background-position: center;
        margin-top: 40px;
        height: 200px;
        position: fixed;
        z-index: -1;
    }
    /*//////////////////novinky///////////////////*/
    #sipkal,
    #sipkap {
        display: none;
    }
    .novinka_index {
        margin-top: 20px;
        margin-bottom: 0px;
        width: 90%;
        height: 90vw;
        overflow-x: hidden;
        float: left;
        position: relative;
    }
    #novinky_index ul {
        width: 100%;
    }
    .n0 {
        left: -262px;
    }
    .n1 {
        left: 5%;
    }
    .n2 {
        left: 5%;
    }
    .n3 {
        left: 5%;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;

    }
    .n4 {
        left: 716px;
    }
    #novinky_index {
        margin-top: 240px;
        height: calc(270vw + 142px);
    }
    .novinka_index img {
        display: block;
        max-width: 90vw;
        max-height: 50vw;
        margin: auto;
        position: absolute;
        top: 25vw;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }
    .novinka_index span {
        z-index: 10;
        width: 100%;
        height: 40vw;
        background: #FFF;
        position: absolute;
        bottom: 0px;
        margin: 0px;
    }
    .novinka_index h2 {
        text-align: center;
        margin: 3px;
        padding: 0px;
        font-size: 1em;
    }
    .novinka_index p {
        margin: 0px;
        padding-left: 3px;
    }
    #novinky_index_vic a {
        font-size: 1.25em;
        text-align: center;
        left: calc(50% - 75px);
        width: 150px;
        padding: 10px;
        right: initial;
        position: absolute;
        top: 0px;
    }
    #novinky_index_vic {
        width: 100%;
        position: absolute;
        bottom: 0px;
        height: 62px;
    }
    /*///////////////nabidky///////////*/
    #nabidky {
        height: auto;
    }
    #tradice {
        left: 0px;
    }
    #typy_studia_p {

        width: 80vw;
        margin: auto;
        margin-top: 65vw;
        text-align: justify;
    }
    #typy_studia li {
        width: 70vw;
        margin: auto;
        text-align: justify;
    }
    #busta {
        position: absolute;
        left: auto;
        margin: auto;
        top: 4em;
        width: 60vw;
        margin-left: 20vw;
        height: auto;
        text-align: center;
        font-weight: bold;
        line-height: 1.1em;
        font-size: 1.1em;
    }
    #busta img {
        position: relative;
        width: 40vw;
        margin-left: 10vw;
        margin-right: 10vw;
        top: 20px;
        margin-bottom: 1em;
    }
    .nabidka {
        width: 33.33%;
        height: 33.33vw;
    }
    .karta {
        width: 100%;
        height: 100%;
    }
    .nabidka.prvni .karta,
    .nabidka.ctvrta .karta {
        background: #fcbb23
    }
    .nabidka.prvni .karta,
    .nabidka.treti .karta {
        background: #fdd16d;
    }
    .predni,
    .zadni {
        width: 100%;
        height: 100%;
    }
    .predni img {
        width: 60%;
        left: 20%;
    }
    .zadni p {
        text-align: center;
        width: 80%;
        margin: auto;
        font-weight: 600;
        font-size: 5vw;
        top: 30%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .karta-text-kratky {
        display: block;
    }
    .karta-text-dlouhy {
        display: none;
    }
    .zadni a {
        margin-left: auto;
        width: 90%;
        text-align: center;
        font-size: 5vw;
        bottom: 10px;
        padding-left: 5%;
        padding-right: 5%;
    }
    /*//////////////page//////////////////*/
    #outer_page {
        top: calc(240px + 270vw + 142px);
    }
    #page {
        padding-top: 1px;
    }
    /*//////////////dalsi/////////////////*/
    #spolupracujeme {
        height: 230vw;
    }
    #prohlidka,
    #historie {
        width: 80%;
        margin: 7vw;
        margin-bottom: 0vw;
        border: solid #fcbb23 3vw;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
    .spoluprace_kraj {
        width: calc(100% - 20vw);
        margin: 10vw;
        margin-top: 3vw;
        margin-bottom: 10px;
    }
    .spoluprace_obrazek {
        width: 35%;
        margin-left: 10%;
        margin-right: 0%;
        margin-bottom: 1vw;
        margin-top: 1vw;
    }
    .footer_index {
        position: relative;
        top: calc(3em + 65vw + 150vw + 120vw + 80vw + 35vw + 50px);
    }
    #outer_footer {
        width: 100%;
    }
    #outer_footer.footer_index {
        width: 100%;
    }
    #footer {
        width: 100%;
        font-size: 1em;
        height: auto;
        display: inline-block;
        padding-top: 10px;
    }
    #footer h4 {
        display: none;
        padding-left: 0px;
    }
    #footer p {
        position: relative;
        float: left;
        margin: 0px;
        margin-left: 20%;        
        text-align: center;
        width: 60%;
        top: 0px;
        left: 0px;
        line-height: 180%;
    }
    #footer_autor {
        position: relative;
        float: left;
        margin: 10px 0px;
    }
    #footer br {
        content: "";
    }
    #footer br:after {
        content: "  |  ";
    }
    #footer_logo {
        display: none;
    }
    #footer br.neodebrat:after {
        content: "";
    }
    #mapa {
        display: none;
    }
    #carka {
        display: none;
    }
    /*//////////////////////// ostatní stránky ///////////////////////*/
    #stred {
        width: 100%;
    }
    #obsahova-cast {
        padding-top: 40px;
    }
    #obsahova-cast h2 {
        text-align: left;
        cursor: pointer;
        padding: 7px;
        padding-left: 15px;
        margin-bottom: 0px;
        margin-top: 0px;
        position: relative;
        -webkit-box-shadow: 0px 6px 13px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 6px 13px -4px rgba(0, 0, 0, 0.2);
        z-index: 10;

    }

    #pravy-sloupec-uzky {
        background: #DDD;
        float: left;
        height: auto;
        width: 100%;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .podmenu {
        display: block;

        float: none;
        width: 90%;
        margin: 20px auto;
        max-height: 42px;
        -webkit-transition: 1s;
        transition: 1s;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    }
    .podmenu #podmenuButton #l1-podmenu {
        -webkit-transition: 0.6s;
        transition: 0.6s;
        -webkit-transform-origin: 12px 13px;
        transform-origin: 12px 13px;
    }
    .podmenu #podmenuButton #l2-podmenu {
        -webkit-transition: 0.6s;
        transition: 0.6s;
        -webkit-transform-origin: 27px 13px;
        transform-origin: 27px 13px;
    }
    .podmenu.otevrenopod {
        max-height: 1200px;
    }
    .podmenu.otevrenopod #podmenuButton #l1-podmenu {
        -webkit-transform: rotate(-71.08deg);
        transform: rotate(-71.08deg);
    }
    .podmenu.otevrenopod #podmenuButton #l2-podmenu {
        -webkit-transform: rotate(71.08deg);
        transform: rotate(71.08deg);
    }
    #podmenuButton {
        display: block;
        float: right;
        position: relative;
        top: -35px;
        right: 7px;
        pointer-events: none;
        z-index: 15;
    }
    #levy-sloupec-siroky {
        background: #FFF;
        float: left;
        width: 95%;
        display: block;
        margin-bottom: 15px;
        padding-top: 0px;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-bottom: 0px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        overflow: auto;
    }
    #levy-sloupec-siroky-novinky {
        float: left;
        /*background: Red;*/
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        /*border:  thin solid red	;*/
        display: block;
        text-align: justify;
        /*margin-right: 2%;*/
        margin-bottom: 15px;
        /*border: 1px dotted Highlight; */
        padding-top: 0px;
        padding-bottom: 10px;
    }
    div.obrnovinka {
        position: relative;
        width: 50%;
        border: none;
        height: auto;
        background: none;
        background-size: cover;
        float: left;
        margin: 0px 10px 10px 0px; 
    }

    div.obrnovinka img{
        position: relative;
        top: 0px;
        -webkit-transform: none;
        transform: none;
        width: 100%;
        max-height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        margin: 0px;
    }
    .textv-n-c {
        margin-left: 0%;
        text-align: justify;
        vertical-align: top;
        padding-left: 2%;
        padding-right: 10px;
        font: 100%;
    }

    .nadpisv-n-c,
    .nadpisvpolozce {
        padding-top: 10px;
        font-size: 1.25em;
        /* background: #fcbb23; */
        color: #232a4e;
        font-weight: bold;
        padding-bottom: 5px;
        margin-bottom: 7px;
        text-align: center;
        border-bottom: 2px solid #fcbb23;
    }
    #rozdeleny_elearning_levy ul {
        padding-left: 10px;
    }
    #rozdeleny_elearning_levy, #rozdeleny_elearning_pravy {
        float: left;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    #rozdeleny_elearning_pravy h5 {
        margin-top: 5px;
    }
    #rozdeleny_elearning_pravy {
        padding-bottom: 20px;
    }
    .nejstudent, .absolvent {
        width: 46%;
        margin: 1.5%;
        margin-bottom: 12px;
    }
    .profil_studenta img, .profil_absolventa img{
        width: 40%;
    }
    .predmet {
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    #top-header h1 {
        font-size: 1.2em;
        position: relative;
        z-index: 10;
        margin-left: 5px;
        line-height: 25px;
    }
    #header {
        height: 50px;
        /*display: none;*/
    }
    #obsahova-cast {
        padding-top: 50px;
    }
    #top-header {
        padding-bottom: 14px;
    }
    #menu {
        padding-top: 50px;
    }
    #menu::before {
        height: 50px;
    }
    #menuButton {
        display: block;
        position: absolute;
        padding-top: 7px;
        padding-bottom: 3px;
        left: 0px;
        z-index: 10;
        background: #fcbb23;
    }
    .footer_index {
        position: relative;
        top: calc(3em + 65vw + 150vw + 120vw + 80vw + 45vw + 80px);
    }
    #footer {
        height: 250px;
    }
}

.hide {
    display: none !important;
}

hidden {
    display: none !important;
}